* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:#88AB8E;
    color:white;
}

header {
    background:#AFC8AD;
    color: #fff;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    
}
#happy{
    font-family:sans-serif;
    font-style:italic;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    background: #88AB8E;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.hero-content .btn {
    background:white;
    color:#88AB8E;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
}

.hero-image img {
    max-width: 100%;
    border-radius: 10px;
}

.about-section,
.services-section,
.contact-section {
    padding: 2rem 1rem;
    text-align: center;
}

footer {
    background: #AFC8AD;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
