.questionnaire-container {
    padding: 60px;
    background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)),
      url('../../assets/bg2.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    text-align: left;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  h1 {
    font-size: 3.5rem;
    margin-bottom: 25px;
    color: #fff;
    font-style: italic;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #f1c40f;
    padding-bottom: 10px;
  }
  
  .question-block {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 850px;
    width: 100%;
  }
  
  .question-block h3 {
    font-size: 1.6rem;
    color: #f2f2f2;
    margin-bottom: 15px;
  }
  
  .question-block label {
    font-size: 1.2rem;
    color: #f2f2f2;
    margin-left: 10px;
  }
  
  button {
    font-size: 1.4rem;
    padding: 10px 20px;
    color: #fff;
    background-color: #f1c40f;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #d4a90c;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .questionnaire-container {
      padding: 30px;
    }
  
    h1 {
      font-size: 2.8rem;
      text-align: center;
    }
  
    .question-block h3 {
      font-size: 1.4rem;
    }
  
    .question-block {
      text-align: center;
    }
  
    button {
      font-size: 1.2rem;
    }
  }