.testimonials-container {
    padding: 60px;
    background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)),
    url('../../assets/bg2.png');
    background-size: cover;
    background-position: center;    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    text-align: left;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  h1 {
    font-size: 3.2rem;
    margin-bottom: 25px;
    color: #fff;
    font-style: italic;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #f1c40f;
    padding-bottom: 10px;
  }
  p{
    font-size: 17px;
  }
  
  .testimonial-box {
    background: linear-gradient(to right, rgba(8, 0, 58, 0.7), rgba(50, 0, 80, 0.7));
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    font-size: 15px;
    font-style: italic;
  }
  
  .testimonial-box .author {
    font-weight: bold;
    margin-top: 10px;
    color: #8c8989;
    text-align: right;
    display: block;
  }
  